* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgb(98, 184, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100%;
    
    font-weight: 300;
    font-size: 20pt;
    text-transform: uppercase;
    color: white;
}

h1 {
    font-size: 28pt;
    margin-top: 40px;
    text-align: center;
}

h2 {
    color: rgb(49, 49, 49);
    font-size: 16pt;
    font-weight: 500;
    margin-top: 8px;
    text-align: center;
}

.input-wrapper {
    width: 100%;
    height: 60px;
    margin-top: 55px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(89, 168, 70);
}

.input-wrapper input {
    width: 300px;
    height: 35px;
    font-size: 18px;
    border: 0px;
    padding-left: 5px;
}

.time {
    text-transform: uppercase;
    font-size: 28px;
    
    color: white;
    font-weight: 600;

    margin: 0 50px 0 70px
}

#timer {
    font-size: 30px;
    
    color: white;
    font-weight: 500;
}

#game {
    display: grid;
    justify-content: center;
    grid-template-columns: 33% 33% 33%;
    gap: 30px;

    width: 90%;
    margin-top: 60px;
    margin-bottom: 30px;
}

.groups {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.groups span {
    font-weight: 600;
}

.national-teams-wrapper {
    border: 1px gray solid;
    border-radius: 5px;
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin-top: 8px;
}

.national-team {
    display: flex;
    padding: 10px 0 10px 0;
    width: 100%;
    border-bottom: 1px solid gray;
}

.national-team div {
    width: 50%;
}

.answer {
    text-align: right;
    font-weight: 600;
}

#congratulations, #you-lost {
    position: fixed;
    
    top: 45vh;
    height: 150px;
    width: 35%;
    min-width: 230px;

    background-color: white;
    
    border: 1px solid gray;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 18pt;
    margin-top: 10px;
}

h4 {
    font-weight: 400;
    margin: 0 5px 0 5px;
}

#congratulations button, #you-lost button {
    background-color: transparent;
    border: none;
    color: green;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13pt;
    margin-bottom: 10px;
}

@media (max-width: 620px) {
    #game {
        display: block;
        margin-top: 50px;
    }
    #team-input {
        width: 60%;
        min-width: 180px;
    }
    .input-wrapper {
        height: 110px;
        flex-direction: column;
        text-align: center;
    }
    .time {
        margin: 0 30px 0 0;
        font-size: 20px;
    }
    .input-wrapper div {
        margin: 12px 0 0 0;
        align-items: center;
    }
    .groups {
        margin: 0 auto 20px auto;
    }
}